.time-axis text
  font : 10px sans-serif
  
.time-axis
  path, line
    fill none
    stroke black
    shape-rendering : crispEdges
 
.dose-axis text
  font : 10px sans-serif
  fill red
  
.dose-axis
  path, line
    fill none
    stroke red
    shape-rendering : crispEdges
    
.inr-axis text
  font : 10px sans-serif
  fill green
  
.inr-axis
  path, line
    fill none
    stroke limegreen
    shape-rendering : crispEdges

.intake-bar
  pointer-events none
  fill  none
  stroke  red

.inr-point
  fill limegreen
  
.dose-path
  pointer-events none
  fill none
  stroke red
  opacity 1
  stroke-width 3
  
.day-box:hover
  fill blue
  opacity .1
  
.day-box
  fill white
  opacity 0

.text-area
  margin 1em
  padding 1em
  color lime
  background-color black
  
.tooltip
  position absolute
  pointer-events none
  font 12px sans-serif
  padding .5em
  background white
  border 1pt solid grey
  border-radius .5em
  box-shadow 2pt 2pt 4pt grey
  opacity 0