head
  title Dosis
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
body

template(name="layout")
  {{> Template.dynamic template=nav}}
  div#content
    {{> Template.dynamic template=main}}
  {{> Template.dynamic template=footer}}

template(name="pageNotFound")
  .ui.container.center.aligned.segment
    h3 404 - Seite nicht gefunden

template(name="loading")
  .ui.fluid.center.aligned.basic.fitted.segment
    .ui.active.dimmer
      .ui.text.loader Lade

template(name="footer")
  .ui.container.center.aligned.basic.segment#footer Dosis - &#169; 2016 - Jan Pilgenröder
